
@font-face {font-family: "iconfont-arr";
  src: url('iconfont-arr.eot?t=1503022151489'); /* IE9*/
  src: url('iconfont-arr.eot?t=1503022151489#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont-arr.woff?t=1503022151489') format('woff'), /* chrome, firefox */
  url('iconfont-arr.ttf?t=1503022151489') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont-arr.svg?t=1503022151489#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-arr {
  font-family:"iconfont-arr" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr-shouji2:before { content: "\e6e3"; }

.icon-arr-zuoyoujiantouicon10024:before { content: "\e6d0"; }

.icon-arr-SaaSyingyong:before { content: "\e6db"; }

.icon-arr-yun:before { content: "\e6dc"; }

.icon-arr-dingzhi:before { content: "\e856"; }

.icon-arr-peixun:before { content: "\e6de"; }

.icon-arr-xuexiao5:before { content: "\e6df"; }

.icon-arr-zuoyoujiantouicon100241:before { content: "\e6d7"; }

.icon-arr-xitongshezhi:before { content: "\e6e0"; }

.icon-arr-diannao-:before { content: "\e6e1"; }

.icon-arr-cloud-operation:before { content: "\e6e2"; }

